<h1>Staff Dashboard</h1>

<section>
  <app-manage-tranding-products></app-manage-tranding-products>
</section>

<section>
  <app-manage-benefits></app-manage-benefits>
</section>

<section>
  <app-manage-top-deals></app-manage-top-deals>
</section>

<section>
  <app-manage-customer-reviews></app-manage-customer-reviews>
</section>

<section>
  <app-manage-featured-categories></app-manage-featured-categories>
</section>

<section>
  <app-manage-newsletter-subscription></app-manage-newsletter-subscription>
</section>
